.get-started div {
  text-align: center;
}

.get-started h1 {
  font: bold 72px/104px Inter, 'PT Sans', sans-serif;
  color: #ffffff;
  margin-bottom: 14px;

  @media (max-width: 992px) {
    font: bold 48px/64px Inter, 'PT Sans', sans-serif;
  }
}

section.form-section {
  padding: 5% 20%;

  @media (max-width: 992px) {
    padding: 5% 5%;
  }
}

form.input-form {
  background-color: #f0f7ff;
  padding: 6% 8%;
  border-radius: 22px;
}

.form-section h3 {
  font: bold 48px/64px Inter, 'PT Sans', sans-serif;
  color: #7d2a8a;
  text-align: center;

  @media (max-width: 992px) {
    font: bold 36px/46px Inter, 'PT Sans', sans-serif;
  }
}

.form-section p {
  font: bold 24px/36px Inter, 'PT Sans', sans-serif;
  text-align: center;
  margin: 2% 0 3%;

  @media (max-width: 992px) {
    font: bold 18px/24px Inter, 'PT Sans', sans-serif;
  }
}
.input-form > * {
  font: 24px/28px Inter, 'PT Sans', sans-serif;
  margin: auto;

  @media (max-width: 992px) {
    font: 18px/20px Inter, 'PT Sans', sans-serif;
  }
}

.form-group .form-control {
  margin: 1% 0 5%;
  font: 24px/28px Inter, 'PT Sans', sans-serif;
  padding: 2% 2%;

  @media (max-width: 992px) {
    font: 18px/20px Inter, 'PT Sans', sans-serif;
  }
}

button.get-started {
  font: bold 24px/24px Inter, 'PT Sans', sans-serif;
  background-color: #7d2a8a;
  border: none;
  color: #ffffff;
  padding: 20px 40px;
  width: auto;

  @media (max-width: 768px) {
    font: bold 18px/18px Inter, 'PT Sans', sans-serif;
  }
}
