.main nav {
  padding: 20px 3% 0;
}

nav img {
  margin-top: 0;
  margin-bottom: 4%;
}

.navbar span {
  font: 100px;
}

span.navbar-text {
  font: 18px/24px Inter, 'PT Sans', sans-serif;
  color: #ffffff;
}

a.nav-link {
  font: 18px/24px Inter, 'PT Sans', sans-serif;
  color: #ffffff;
}

.nav-link.on {
  color: #ffffff;
  font-weight: bold;
}

nav a:hover {
  color: grey !important;
}

button.sign-in {
  font: 18px/24px Inter, 'PT Sans', sans-serif;
  height: 56px;
  width: 123px;
  border: 1px solid #ffffff;
  color: #ffffff;
}

li.nav-item {
  display: inline;
  white-space: nowrap;
}

li.nav-item:after {
  content: ' \2022';
  color: #ffffff;
}

li.nav-item:last-child:after {
  content: none;
  align-self: center;
}

li.nav-item:last-child {
  margin-right: 2rem;
}

a.nav-link {
  text-decoration: none;
}

.btn-outline-success.sign-in {
  --bs-btn-color: #ffffff;
  --bs-btn-border-color: #ffffff;
  --bs-btn-hover-color: black;
  --bs-btn-hover-bg: #ffffff;
  --bs-btn-hover-border-color: #ffffff;
  --bs-btn-focus-shadow-rgb: 25, 135, 84;
  --bs-btn-active-color: #ffffff;
  --bs-btn-active-bg: #ffffff;
  --bs-btn-active-border-color: #ffffff;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #ffffff;
  --bs-btn-disabled-bg: transparent;
  --bs-gradient: none;
}
